---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
//import Terminal from '../components/Terminal.astro';
import Expandable from '../components/Expandable.astro';

import { Image } from 'astro:assets';
import { SiteInfo, ExternLinks, Skills } from '../constants.ts';
import { Icon } from 'astro-icon/components';

import profile from '../images/profile.png';
---

<Layout title={SiteInfo.title}>
	<main class="shadow-border-3">
    <Navbar title={SiteInfo.title} />
    <!--<Terminal />-->
    <div class="divider hlist">
      <Image src={profile} alt="A professionally taken image of Logan Langdon" class="profile shadow-border-1" quality={100} inferSize/>
      <h2>About</h2>
    </div>
    <h2 class="inner-header">I am a Software Engineer specializing in: </h2>
    <ul>
      <li>
        Backend Web development
      </li>
      <li>
        Devops / Deployment
      </li>
      <li>
        Game Development
      </li>
    </ul>
    </div>
    <div id="skills">
      <h3 class="divider">Skills</h3>
      <h2 class="inner-header">Frontend</h2>
      <ul class="hlist" role="list">
        <!-- Nodejs, Alpinejs, Tailwind, React, TS, Astro, Nextjs   -->
        {Skills.frontend.map((skillname) => (
          <li>
            <Icon name={skillname} class="icon" />
          </li>
        ))}
      </ul>
      <h2 class="inner-header">Backend</h2>
      <ul class="hlist" role="list">
        <!-- Golang, Apache Kafka, Postgresql, Sqlite, Rabbitmq, Docker, Django,    -->
        {Skills.backend.map((skillname) => (
          <li>
            <Icon name={skillname} class="icon" />
          </li>
        ))}
      </ul>
    </div>
    <div id="experience">
      <h3 class="divider">Experience</h3>
      <ul class="vlist" role="list">
        <Expandable
          title="Bricks4kids"
          description="Teaching"
        />
        <Expandable
          title="ACM Game Dev Team Lead"
          description="Seminars and Demos of Game development principles at CSUF"
        />
      </ul>
    </div>
    <div id="projects" >
      <h3 class="divider">Projects</h3>
      <ul role="list" class="link-card-grid">
        <!--TODO: add three sections corresponding to:--> <!--  - Web development--> <!--  - Game development-->
        <!--  - Systems programming-->
        <Card
          href={ExternLinks.github}
          title="CodeRoot: Technical Blog"
          body="Articles delving into the rabbit-holes of various software domains and determining patterns"
        />
        <Card
          href={ExternLinks.github}
          title="Disco-lite: Browser-based VTT"
          body="A browser-based virtual tabletop for managing a character in a Disco Elysium inspired table-top game"
        />
        <Card
          href={ExternLinks.github}
          title="Shadowsand Defense"
          body="Desktop game created in Godot for the 2024 Pirate Software Game Jam with Alchemy themed mechanics"
        />
        <Card
          href={ExternLinks.github}
          title="Disco-lite: Browser-based VTT"
          body="A browser-based virtual tabletop for managing a character in a Disco Elysium inspired table-top game"
        />
      </ul>
    </div>
    <h3 id="contact" class="divider">Contact</h3>
    <Card
      href={ExternLinks.github}
      title="Contact"
      body="Contact me!"
      />
    <script src="../changetheme.ts"></script>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgba(var(--text-color));
		font-size: 20px;
		line-height: 1.6;
    background-color: rgb(var(--primary));
  }
  ul {
    list-style: none;
  }
	.block {
		margin-bottom: 2rem;
    background: rgba(var(--accent));
		padding: 1rem 1.5rem 1rem 1.5rem;
  }
  .container {
    background: rgba(var(--accent));
    padding: 1rem;
  }
	.container > h2 {
    width: auto;
		margin: 0;
		font-size: 2.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.container > p {
		margin-top: 0.5rem;
		margin-bottom: 0;
  }
  .divider {
    position:relative;
    left: -1.25rem;
    padding: 1rem 1rem 1rem 2rem;
    border: 4px solid rgb(var(--outline));
    width: calc(100% - 1rem);
    background: rgba(var(--accent));
    margin-bottom: 2rem;
  }
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
  }
  .section {
    margin-bottom: 2rem;
  }
  .hlist {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
  }
  .vlist {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
  }
  .icon {
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
    width: 60px;
    height: auto;
  }
  .profile {
    position: relative;
    top:0px;
    left: 0px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  .inner-header {
    padding-left: 1rem;
  }
</style>
