---
import Layout from "../layouts/Layout.astro";
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import { SiteInfo, ExternLinks } from '../constants.ts';
---

<Layout title={SiteInfo.title}>
	<main class="shadow-border-3">
    <Navbar title={SiteInfo.title} />
    <div id="welcome" class="section">
      <img
        class="shadow-border-2"
        src="../../profile.png"
        alt="A professionally taken image of Logan Langdon"
      />
      <div id="about" class="container shadow-border-2">
        <h2>About Me </h2>
        <p>I am a Software Engineer specializing in: </p>
        <ul>
          <li>
            Backend Web development
          </li>
          <li>
            Devops / Deployment
          </li>
          <li>
            Game Development
          </li>
        </ul>
      </div>
    </div>
    <div id="experience" >
      <h3 class="divider">Experience</h3>
      <h2>Skills</h2>
      <ul role="list">
        <li>

        </li>
      </ul>
    </div>
    <div id="projects" >
      <h3 class="divider">Projects</h3>
      <ul role="list" class="link-card-grid">
        <!--TODO: add three sections corresponding to:--> <!--  - Web development--> <!--  - Game development-->
        <!--  - Systems programming-->
        <Card
          href={ExternLinks.github}
          title="CodeRoot: Personal Blog"
          body="Articles delving into the rabbit-holes of various software domains and arriving at universal patterns."
        />
        <Card
          href={ExternLinks.github}
          title="Disco-lite: Browser-based "
          body="Articles delving into the rabbit-holes of various software domains and arriving at universal patterns."
        />
      </ul>
    </div>
    <h3 id="contact" class="divider">Contact</h3>
    <Card
      href={ExternLinks.github}
      title="Contact"
      body="Contact me!"
      />
    <script src="../changetheme.ts"></script>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgba(var(--text-color));
		font-size: 20px;
		line-height: 1.6;
    background-color: rgb(var(--primary));
  }
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
    /*filter: hue-rotate(330deg) contrast(110%);*/
    /*opacity: 80%;*/
  }
	.block {
		margin-bottom: 2rem;
    background: rgba(var(--accent));
		padding: 1rem 1.5rem 1rem 1.5rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-content:flex-start;
    background: rgba(var(--accent));
    padding: 1rem;
  }
	.container > h2 {
    width: auto;
		margin: 0;
		font-size: 2.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.container > p {
		margin-top: 0.5rem;
		margin-bottom: 0;
  }
  .divider {
    position:relative;
    left: -1.2rem;
    padding: 1rem;
    border: 4px solid rgb(var(--outline));
    width: 100%;
    background: rgba(var(--accent));
  }
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
  }
  .section {
    margin-bottom: 2rem;
  }
  #welcome {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    flex-direction: row;
  }
  #welcome > * {
    max-height: 300px;
    max-width: 300px;
  }
</style>
