---
interface Props {
	title: string;
}

const {title} = Astro.props;
import { ExternLinks } from "../constants.ts";
import { Icon } from 'astro-icon/components';
---

<nav id="home" class="block shadow-border-2">
  <h1><a href="#top" class="">{title}</a></h1>
  <ul id="links">
  <!-- TODO: Add expandable nav menu which starts closed-->
    <!--<div id="expandable" class="shadow-border-1">-->
    <!--  &lt;-->
    <li>
      <a href={ExternLinks.github} class="shadow-border-1">
        <Icon name="github" class="icon" />
      </a>
    </li>
    <li>
      <a href={ExternLinks.mastodon} class="shadow-border-1">
        <Icon name="mastodon" class="icon" />
      </a>
    </li>
    <li>
      <a href={ExternLinks.linkedin} class="shadow-border-1">
        <Icon name="linkedin" class="icon" />
      </a>
    </li>
    <li>
      <button class="shadow-border-1 theme-toggle">
        <Icon name="dark" class="icon" />
      </button>
    </li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
  }
  h1 {
    font-size: 30px;
  }
  h1 > a {
    background: none;
  }
  li {
    display: flex;
    max-width: 60px;
    max-height: 60px;
  }
  a, button {
    background: rgb(var(--accent-light));
    position: relative;
    cursor: pointer;
    flex: 1 1 0px;
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
    overflow-wrap: anywhere;
  }
  ul {
    list-style: none;
    max-width: 300px;
  }
  .icon {
    max-width: 100%;
    max-height: 100%;
    object-fit:contain;
    width: 100px;
    height: auto;
  }
	.block {
		margin-bottom: 2rem;
    background: rgba(var(--accent));
		padding: 1rem 1.5rem 1rem 1.5rem;
  }
  #links {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    max-width: 300px;
    gap: 1rem;
  }
  #links a {
    background: rgba(var(--accent-light));
  }
  #expandable {
    display: flex;
    background: rgba(var(--accent-light));
    overflow:hidden;
    flex-direction: row;
    font-size: 36px;
    gap: 0.5rem;
    /*/*height: 40px;*/*/
    transition: width 0.5s;
  }
  #expandable:hover {
    width: 100px;
  }
</style>
